.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 10px;
}

.logo-text {
  font-size: 2em;
  background: linear-gradient(135deg, #d3cce3, #e9e4f0);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
