.register-title {
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-form .form-group {
  margin-bottom: 15px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form button {
  width: 100%;
  padding: 10px;
}

.image-preview {
  margin-top: 1rem;
}

.profile-picture-preview {
  max-width: 200px; /* Make the image smaller */
  max-height: 200px; /* Make the image smaller */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Add rounded corners */
}
